@import '../../../assets/colors.scss';
.contactUs{
    margin-bottom: 20rem;
    padding-left:2rem;
    background: url(../../../assets/chat.jpg);
    input, select{
        width: 80%;
        height: 4rem;
    }
    input:focus, select:focus{
        outline:none;
    }
    h5{
        font-size: 18px;
        font-family: barlow;
        text-align: left;
    }
    h3{
        font-size: 120px;
        text-align: left;
        font-family: Stencil Std, fantasy;
    }
    p{
        font-size:37px;
        font-family: Snell Roundhand, cursive;
    }
    h4{
        font-size:3rem;
    }
    .submitButton{
        background: $secondaryColor;
        margin-top: 30px; 
        margin-bottom: 30px
    }
}